body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.267);
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_form{
    margin: 20px;
}