body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.267);
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-form{
    margin: 20px;
}
.city-inp{
    padding:10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(128, 128, 128, 0.583);
    border-radius: 20px;
    margin:10px;
    width:300px;
} 
button[type="submit"]{
    padding:10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(24, 207, 18);
    color:white;
    border:none;
    border-radius: 20px;
    cursor:pointer;
}
button[type="submit"]:hover{
    background-color: rgb(23, 221, 16);
}
.card{
    background: linear-gradient(180deg,rgb(0, 187, 255),rgb(255, 213, 0));
    width: 30em;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 0px rgb(125, 117, 117);
    animation: glow 4s ease-in-out infinite;
    border-radius: 30px;
}
@keyframes glow {
    0%, 100% {
      box-shadow: 
        0 0 20px rgba(254, 254, 254, 0.3),
        0 0 40px rgba(254, 254, 254, 0.2),
        0 0 60px rgba(254, 254, 254, 0.1),
        0 0 80px rgba(254, 254, 254, 0.05);
    }
    33% {
      box-shadow: 
        10px 10px 30px rgba(254, 254, 254, 0.4),
        20px 20px 50px rgba(254, 254, 254, 0.25),
        30px 30px 70px rgba(254, 254, 254, 0.15),
        40px 40px 90px rgba(254, 254, 254, 0.05);
    }
    66% {
      box-shadow: 
        -10px 10px 30px rgba(254, 254, 254, 0.4),
        -20px 20px 50px rgba(254, 254, 254, 0.25),
        -30px 30px 70px rgba(254, 254, 254, 0.15),
        -40px 40px 90px rgba(254, 254, 254, 0.05);
    }
  }
h1{
    font-size: 3.5rem;
    margin-top:0;
    margin-bottom:25px;
}
p{
    font-size: 1.5rem;
    margin:5px 0px;
}
.citydisp,.temp{
    font-size: 3.5rem;
    font-weight: bold;
    color:black;
    margin-bottom: 25px;
}
.humidity{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisp{
    font-style:italic;
    font-weight: bold;
    font-size: 2.5rem;
}
.Weather{
    margin:0px;
    font-size: 7.5rem;
}
.errordisp{
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
}
.center{
    position: absolute;
    top:35%;
}